@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-3 pb-4">
    <h1 class="display-4">Hostele ATH</h1>
</div>


<div class="container-fluid w-100" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="container">
        <div class="row" >
            <div class="col g-0 " >
                <img src="images/hostel1.jpg" class="img-fluid"></img>
            </div>
            <div class="col  g-0 " >
                <img src="images/Hostel4.jpg" class="img-fluid"></img>
            </div>
            <div class="col g-0" >
                <img src="images/Hostel2.jpg" class="img-fluid"></img>
            </div>
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5 pt-5 pb-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="opis">
                <h3 class="opis-hostelu text-center text-black">Oferta</h3>
                <p class="opis-hostelup text-black" > W pokojach bezprzewodowy dostęp do internetu (Wi-Fi). Obsługa w języku: angielskim, ukraińskim. Na terenie obiektu parking. Obiekt położony jest w centrum miasta. Serdecznie zapraszamy do skorzystania z naszej oferty - zadowolenie gwarantowane.</p>
            </div>
        </div>
    </div>
</div>